body {
  margin: 0;
  background-color: #000;
}

.blue-container,
.yellow-container,
.definition-container {
  border: 1px solid #e75551;
}

.blue-container {
  background-color: #308dc0;
  width: 350px;
  margin: 20px;
  box-sizing: border-box;
}

.yellow-container {
  background-color: #ffa500;
  margin: 10px;
}

.definition-container {
  padding: 10px;
  margin: 10px;
  background-color: #ddd;
}

.middle-container {
  margin: 40px 20px;
}
